:root {
    /* Paleta de colores pasteles */
    --rosa-palido: #FFD3E0;
    --azul-lavanda: #C7CEEA;
    --amarillo-cremoso: #FCECBF;
    --verde-menta-suave: #B5EAD7;
    --melocoton-claro: #FFDAC1;

    /* Colores suaves de tonos terrosos */
    --marron-suave: #D4A373;
    --verde-musgo-claro: #A8C686;
    --amarillo-mostaza-claro: #D9BF77;
    --gris-verdoso: #B8B8A6;
    --beige-suave: #E2C4A6;

    /* Paleta de colores pastel fríos */
    --azul-claro: #9AD1D4;
    --azul-cielo: #C4E0E5;
    --gris-azulado: #B7BCC7;
    --verde-agua: #C6D8D3;
    --verde-claro: #E4EFC2;

    --BLACK: #000;
    --rgbb: rgb(175, 175, 175);
    --ligero: lightslategray;
}

@mixin mobile {
    @media screen and (max-width:480px) {
        @content;
    }
}

@mixin table {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:1200px) {
        @content;
    }
}

.formContainer {
    background-color: var(--verde-menta-suave);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px #000;

    

    .formWrapper {
        height: auto;
        width: 15%;
        background-color: whitesmoke;
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        border-radius: 10px;

        

        .logo {
            color: var(--BLACK);
            font-weight: bold;
            font-size: 24px;
            
        }

        .title {
            color: var(--verde-musgo-claro);
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                border-radius: 15px;
                border-bottom: 1px solid var(--azul-claro);

                &::placeholder {
                    color: var(--rgbb);
                }
            }

            button {
                background-color: var(--azul-lavanda);
                color: var(--rgbb);
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                border-radius: 12px;

                &:hover {
                    background-color: var(--azul-claro);
                }
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: var(--gris-azulado);
                cursor: pointer;
                font-size: 12px;

                .MuiSvgIcon-root {
                    font-size: 30px;
                    color: var(--verde-menta-suave);
                    margin: 10px;
                    cursor: pointer;
                }
            }

        }

        p {
            color: var(--gris-azulado);
            font-size: 12px;
            margin-top: 10px;
        }

    }
}

.home {
    background-color: var(--verde-menta-suave);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @include table{
        height: 99vh;
        top: 0px;
        width: 99%;
        background-color: blue;
        position: absolute;
        overflow: hidden;

    }

    .container {
        border: 1px solid var(--azul-lavanda);
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        @include table{
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            overflow: hidden;
        }

        .Sidebar {
            flex: 1;
            background-color: var(--verde-musgo-claro);
            position: relative;

            @include table{
                width: 50%;
            }

            .Navbar {
                display: flex;
                align-items: center;
                background-color: var(--marron-suave);
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: var(--BLACK);
                overflow: hidden;


                .logo {
                    font-weight: bold;

                    @include table{
                        display: none;
                    }
                }

                .user {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }

                .MuiAvatar-root {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                }

                #Ibutton {
                    background-color: var(--verde-musgo-claro);
                    color: wheat;
                    border-radius: 8px;
                    width: 50px;
                    height: 30px;
                    cursor: pointer;
                    overflow: hidden;
                    border: none;

                     @include table{
                        position: absolute;
                        bottom: 10px;
                        background-color: var(--azul-cielo);
                        color: #000;
                    }

                }

            }

            // -----------------------buscador
            .Search {
                border-bottom: solid 1px var(--verde-menta-suave);

                .searchForm {
                    padding: 10px;
                    display: flex;
                    align-items: center;

                    .MuiSvgIcon-root {
                        color: var(--ligero);
                        cursor: pointer;
                    }

                    input {
                        background-color: transparent;
                        border-bottom: 1px solid var(--BLACK);
                        border: none;
                        color: var(--BLACK);
                        outline: none;

                        &::placeholder {
                            color: var(--ligero);
                        }

                        &:hover {
                            border-bottom: solid 1px var(--rgbb);
                        }
                    }
                }

                .userChat {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: var(--ligero);
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.9);
                        /* Cambia el color de fondo al pasar el cursor */
                        opacity: 0.5;
                    }
                }

                .MuiAvatar-root {
                    width: 35px;
                    height: 35px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }

            .Chats {
                overflow: hidden;

                .userChatInfo {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: var(--ligero);
                    cursor: pointer;
                    padding: 10px;
                    overflow: hidden;

                    .MuiAvatar-root {
                        width: 35px;
                        height: 35px;
                        object-fit: cover;
                        cursor: pointer;
                    }

                    span,
                    p {
                        position: relative;
                        left: -35px;
                        font-size: 12px;
                        color: var(--ligero);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        /* Agrega puntos suspensivos */
                        max-width: 150px;
                    }

                    span {
                        color: var(--rgbb);
                        font-size: 12px;
                        font-weight: bold;
                        position: relative;
                        left: 1px;
                        top: -18px;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.9);
                        /* Cambia el color de fondo al pasar el cursor */
                        opacity: 0.5;
                        /* Ajusta la transparencia */
                    }
                }
            }
        }

        .Chat {
            flex: 2;

            .chatInfo {
                background-color: rebeccapurple;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: var(--rgbb);

                span {
                    margin-right: auto;
                    padding: 15px;
                }

                .MuiAvatar-root {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    cursor: pointer;
                }
            }

            .chatIcons {
                display: flex;
                gap: 10px;
                cursor: pointer;
            }
        }

        .Messages {
            background-color: red;
            padding: 10px;
            height: calc(100% - 160px);
            overflow: scroll;

            .Message {
                background-color: blue;
                display: flex;
                gap: 20px;

                .messageInfo {
                    display: flex;
                    flex-direction: column;
                    color: var(--rgbb);
                    font-weight: 300;

                    .MuiAvatar-root {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        cursor: pointer;
                    }
                }

                .messageContent {
                    max-width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        background-color: var(--azul-cielo);
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                        max-width: max-content;
                    }

                    img {
                        background-color: var(--azul-cielo);
                        padding: 10px 10px;
                        border-radius: 0px 10px 10px 10px;
                        width: 40%;
                        border-radius: 10px;
                        max-width: max-content;
                    }


                }

                &.owner {
                    flex-direction: row-reverse;

                    .messageContent {
                        align-items: flex-end;

                        p {
                            background-color: var(--gris-azulado);
                            color: var(--BLACK);
                            border-radius: 10px 0px 10px 10px;
                            max-width: max-content;
                        }
                    }

                }
            }




        }

        .Input {
            background-color: var(--ligero);
            height: 50px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            input {
                width: 100%;
                border: none;
                outline: none;
                color: var(--BLACK);
                font-size: 18px;
                background-color: transparent;

                &::placeholder {
                    color: var(--rgbb);
                }





            }

            .send {
                display: flex;
                align-items: center;
                gap: 15px;

            }

            .MuiSvgIcon-root {
                color: var(--rgbb);
                cursor: pointer;
                width: 30px;
                height: 30px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                    opacity: 0.1;
                    padding: auto;
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                }
            }

            #Ibutton {
                background-color: var(--verde-musgo-claro);
                color: wheat;
                border-radius: 8px;
                width: 50px;
                height: 30px;
                cursor: pointer;
                overflow: hidden;
                border: none;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                    opacity: 0.1;
                    border-radius: 12px;
                }

            }

        }
    }
}